

body {
    font-family: Arial, sans-serif;
    text-align: left;
}
.main{

    border: 3px solid rgb(0, 0, 0);  
        border-radius: 15px;     
    padding: 20px;           
}



.image-box {
    display: flex;
    gap: 5px;

}

.image-box img {
    width: 415px;
    height: auto;
    border-radius: 10px;
    border: 3px solid #000000;
    opacity: 0.7;              
    transition: 0.4s ease;      
}


.image-box img:hover {
    opacity: 1;                 
}
